{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="../public/stylesheets/style.css">

<div class="container">
    <p><img src={{user.photos.[2].value}}) alt='Your Avatar Image' /></p>
    <p>ID: {{user.id}} </p>
    <p>Name: {{user.displayName}}</p>
    <p>Location: {{user._json.loccountrycode}}</p>
    <p><a href={{user._json.profileurl}}>Visit profile</a></p>
</div>

